.galleryImg{
    cursor: pointer;
}

.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10{
	margin: 0;
    padding: 0;
    overflow: hidden;
}

.option-0{
	width:100%;
}

.option-1{
    width: 125%;
    overflow: hidden;
    margin-left: -22%;
}

.option-2{
    width: 145%;
    overflow: hidden;
    margin-left: -20%;
}

.option-3{
    width: 165%;
    overflow: hidden;
    margin-left: -22%;
}

.option-4{
    width: 185%;
    overflow: hidden;
    margin-left: -31%;
}

/* Modal */

.modal-content{
    background-color: transparent;
    border: none;
}

.modal-backdrop.show{
    opacity: .85;
}
