body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    background: #ffffff;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    width: 100%;
    min-height: 100%
}

a, a:hover{
    color: inherit;
    text-decoration: none;
}

a:hover{
    background: #ffff66;
}

.container-fluid{
    padding-left: 60px;
    padding-right: 60px;

    padding-top:50px;
}

/* top nav */
.top-nav{
    opacity: 1;
    display: block;
    -webkit-transition: opacity .5s cubic-bezier(.215,.61,.355,1),-webkit-transform .5s cubic-bezier(.215,.61,.355,1);
    transition: opacity .5s cubic-bezier(.215,.61,.355,1),-webkit-transform .5s cubic-bezier(.215,.61,.355,1);
    transition: opacity .5s cubic-bezier(.215,.61,.355,1),transform .5s cubic-bezier(.215,.61,.355,1);
    transition: opacity .5s cubic-bezier(.215,.61,.355,1),transform .5s cubic-bezier(.215,.61,.355,1),-webkit-transform .5s cubic-bezier(.215,.61,.355,1);
}

.top-nav li{
    display: inline;
}

.nav-item{
    margin-right:45px;
    font-size: 14px;
    font-family: monospace;
}

#title{
    font-size: 14px;
    font-weight: bold;
}

.active{
    text-decoration: line-through;
    font-weight: bold;
}

.fade-up{
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}

.t-item{
    font-size: 14px;
    padding-bottom: 15px;
    cursor: pointer;
    /*font-family: monospace;*/
}

/* projects */
#project-nav{
    list-style: none;
    margin: 0;
    padding: 0;
}

.p-item{
    font-size: 14px;
    padding-bottom: 15px;
    cursor: pointer;
    font-family: monospace;
}

#p-title{
    font-size:36px;
    margin-bottom: 0px;
}

.content{
    font-size: 16px;
    margin-bottom:0.65em;
    /*padding-bottom:30px;*/
}
.tech-specs-show{
    display: none;
}
.tech-specs, .tech-specs-show{
    font-size: 11px;
    color: #444;
    margin-bottom: 45px;
    cursor: pointer;
}
.tech-specs span, .tech-specs-show span{
    font-size: 16px;
    margin-right: 5px;
    color:#000;
    font-weight: bold;
}

.tech-specs:hover span, .tech-specs-show:hover span{
    color:#888;
}

.img-desc{
    padding-bottom:40px;
}

#roy-block, #ecnow-block, #livpro-block, #earthsmart-block, #desalination-block, #prints-block, #pathway-block, #v1-block, #v2-block, #v3-block, #v4-block, #v5-block, #grease-v1-block{
    display: none;
}


.mobile{
    width: 21.44%;
    padding-left: 5px;
    float: right;
}

.v-active{
    text-decoration: underline;
}



/* Mobile resizing */
@media (min-width: 0px){
    #project-sidebar{
        position: relative;
        margin-top:25px;
    }
    #project-sidebar-buffer{
        display: none;
    }

    #name{
        position: relative;
    }

    #name p{
        text-align: center;
    }

    #top{
        position: relative;
        padding-top:20px;
    }

    #top-buffer{
        display: none;
    }

    .top-nav{
        padding: 0;
        text-align: center;
        float: none;
    }
    .outer-top-nav{
        padding-bottom:5px;
    }
    .container-fluid{
        padding-right: 15px;
        padding-left: 15px;
    }
    .top-nav li {
        margin-right: 20px;
        font-size: 10px;
    }
    #text-blurb, #grease-text-blurb{
        font-size:5px;
    }
    #img1 img, #img2 img, #img3 img, #img4 img, #img5 img, #img6 img, #img7 img, #img8 img{
        width: 70%;
    }
}
@media (min-width: 350px){
    .top-nav li {
        margin-right: 25px;
        font-size: 12px;
    }
    #text-blurb, #grease-text-blurb{
        font-size:7px;
    }
}

@media (min-width: 600px){
    .top-nav li {
        margin-right: 45px;
        font-size: 14px;
    }
    .container-fluid{
        padding-left: 60px;
        padding-right: 60px;
    }
    #text-blurb, #grease-text-blurb{
        font-size:12px;
    }
    #img1 img, #img2 img, #img3 img, #img4 img, #img5 img, #img6 img, #img7 img, #img8 img{
        width: inherit;
    }

}

@media (min-width: 768px){

    #project-sidebar{
        position: fixed;
        margin-top:80px;
    }
    #project-sidebar-buffer{
        display: block;
    }

    #name{
        position: fixed;
    }

    #name p{
        text-align: inherit;
    }

    #top{
        padding-top:0px;
        position: fixed;
        right:0;
        padding-right:60px;
    }

    #top-buffer{
        display: block;
    }
    .top-nav{
        padding: inherit;
        text-align: inherit;
        float: right;
    }
    .outer-top-nav{
        padding-bottom:40px;
    }
}

/* Home page */
.hide{
    display: none;
}
#img1{
    padding-right: 16px;
    padding-bottom:80px;
}
#img2{
    padding-left: 3px;
    padding-bottom: 14px;
}
#img3{
    padding-left: 12px;
}
#img4{
    padding-left: 12px;
}
#img5{
    padding-bottom:18px;
}
#img6{
    padding-bottom: 58px;
}
#img7{
    padding-right: 24px;
}
#img8 {
    padding-left: 16px;
}

#no-hover:hover{
    background: transparent;
}



/* make youtube videos responsive */
.auto-resizable-iframe {
  max-width: 100%;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 74.3%;
}
