<div class="container-fluid h-100">
  <div class ="row outer-top-nav">
    <div id="name" class="col-md-3 col-sm-12">
      <p id="title"><a style="background: transparent;">
        <img src="/assets/img/my-logo.png" class="logo-img"/>
      </a></p>

    </div>
    <div id="top-buffer" class="col-md-9"></div>
    <div id="top" class="col-md-9 col-sm-12">
      <ul class="top-nav">
        <li class="t-item"><a class="projects-tab" href="" [routerLink]="['/projects']" routerLinkActive="active-link">PROJECTS</a></li>
        <li class="t-item"><a class="photo-tab" href="" [routerLink]="['/photo']" routerLinkActive="active-link">PHOTO</a></li>
        <li class="t-item"><a class="projects-tab" href="https://track.mattvitello.com" routerLinkActive="active-link">TRACKING</a></li>
        <li class="t-item"><a class="photo-tab" href="" [routerLink]="['/whatisthis']" routerLinkActive="active-link">???</a></li>
        <li class="t-item"><a class="contact-tab" href="" [routerLink]="['/contact']" routerLinkActive="active-link">CONTACT</a></li>
        <li class="t-item" style="margin-right:0px;">
          <a target="_blank" href="https://github.com/mattvitello" style="background:transparent !important">
            <i style="font-size: 18px; margin-top:14px;" class="fa fa-brands fa-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
