<div class = "row h-100 justify-content-center" style="height: 80% !important">
  <div class="col-12 align-self-center slider" style="text-align: center">
    <div id="img1" class="show"><img src="assets/img/home/trees.png"></div>
    <div id="img2" class="hide"><img src="assets/img/home/pizza.png"></div>
    <div id="img3" class="hide"><img src="assets/img/home/camera.png"></div>
    <div id="img4" class="hide"><img src="assets/img/home/mke.png"></div>
    <div id="img5" class="hide"><img src="assets/img/home/enchantments.png"></div>
    <div id="img6" class="hide"><img src="assets/img/home/lighthouse.png"></div>
    <div id="img7" class="hide"><img src="assets/img/home/boat.png"></div>
    <div id="img8" class="hide"><img src="assets/img/home/hands.png"></div>
  </div>
</div>
